.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: none;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.prev-btn,
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f582ae;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.back-btn {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
