body {
  font-family: Arial, sans-serif;
  background-color: #fef6e4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #f582ae;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #001858;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.success-button {
  background-color: #f3d2c1;
  color: #001858;
}

.success-button:hover {
  background-color: #fef6e4;
}

.info-button {
  background-color: #f3d2c1;
  color: #001858;
}

.info-button:hover {
  background-color: #fef6e4;
}
